.intro {
    background-color: blueviolet;
    color: white;
}

.top {
    position: relative;
    height: 50px;
    padding: 10px;
    margin-bottom: 100px;
}

.profile {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#navbar {
    text-align: center;
    background-color: lightgray;
    padding: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 25px;
}

li {
    margin: 5px;
    display: inline;
}

button:active {
    background-color: green;
}

.description {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
}
