<div class="intro">
  <div class="top">
    <span style="margin: 5px;">
      <a href="https://www.linkedin.com/in/charleswerder/" target="_blank">
        <img src="../../assets/linkedin-4-32.png">
      </a>
    </span>
    <span style="margin: 5px;">
      <a href="https://github.com/cwerder" target="_blank">
        <img src="../../assets/GitHub-Mark-Light-32px.png">
      </a>
    </span>
    <span style="margin: 5px; position: absolute; right: 0px;">
      <button class="btn btn-default" style="background-color: blue; color: white;">
        Email Me
      </button>
    </span>
  </div>
  <div class="profile">
    <img src="../../assets/cj_seattle.jpg">
  </div>
  <div style="width: 50%; margin: 0 auto;">
      <p>
          Welcome to the site! My name is CJ Werder. I graduated from University of Miami back in 2018,
          with majors in Computer Science and business analytics. I am currently employed as a software
          engineer. Outside of coding, I enjoy sparring in Brazilian Jiu-Jitsu, playing baseball, and 
          playing video games.
        </p>
  </div>
  <div id="navbar" style="text-align: center;">
    <ul>
      <li>
        <a>Work Experience</a>
      </li>
      <li>
        <a>Education</a>
      </li>
      <li>
        <a>Skills</a>
      </li>
      <li>
        <a>Portfolio</a>
      </li>
    </ul>
  </div>
  <NavBar></NavBar>
  <router-outlet></router-outlet>
</div>