<div class="intro">
  <div class="top">
    <span style="margin: 5px;">
      <a href="https://www.linkedin.com/in/charleswerder/" target="_blank">
        <img src="../../assets/linkedin-4-32.png">
      </a>
    </span>
    <span style="margin: 5px;">
      <a href="https://github.com/cwerder" target="_blank">
        <img src="../../assets/GitHub-Mark-Light-32px.png">
      </a>
    </span>
    <span style="margin: 5px;">
      <a href="https://www.kaggle.com/mp7maniac" target="_blank">
        <img src="../../assets/kaggle_logo_white_32x32.png">
      </a>
    </span>
    <span style="margin: 5px; position: absolute; right: 0px;">
      <button class="btn btn-default" style="background-color: blue; color: white;">
        <span>
          <img src="../../assets/paper-plane.png">
        </span>
        Email Me
      </button>
    </span>
  </div>
  <div class="profile">
    <img src="../../assets/cj_seattle.jpg">
  </div>
  <div class="description">
      <p>
          Welcome to the site! My name is CJ Werder. I enjoy software development,
          so I wanted to create a site through which I could share both a little
          more about myself in this role as well as past projects I've worked on.
        </p>
  </div>
  <div id="navbar">
    <ul>
      <li>
        <a href="#work">Work Experience</a>
      </li>
      <li>
        <a href="#education">Education</a>
      </li>
      <li>
        <a href="#skills">Skills</a>
      </li>
      <li>
        <a href="#portfolio">Portfolio</a>
      </li>
    </ul>
  </div>
</div>
<hr>