<div id="work">
  <h3>
    Work
  </h3>
  <ul>
    <li>
      Citrix - Software Engineer 2 for Citrix Cloud
    </li>
    <ul>
      <li>
        Contributed to the resilience of the platform by writing unit and E2E tests.
      </li>
      <li>
        Enabled the E2E tests to deploy to both US and European servers within the team's CI-CD pipeline.
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      Royal Caribbean - Software Developer Intern
    </li>
    <ul>
      <li>
          Creating and deploying a Shiny App in R which uses predictive modeling techniques to generate forecast data of power curves for
          the ships, ultimately eliminating ~2 weeks of annual data analysis. The app, which is connected to a database, allows users to filter
          based on ship code and date range, download the selected ships’ forecasts to a flat file, and view a plot of a regression curve fit to
          the data for the selected ship.
      </li>
      <li>
          Porting over various data visualizations from Excel to Tableau which expedited and enhanced analysis and reporting
      </li>
    </ul>
  </ul>
  <ul>
    <li>
      Time4Learning - Software Engineering Intern
    </li>
    <ul>
      <li>
          Porting the comprehensive Science4Us CRM website from ASP.Net Web Forms to MVC.
      </li>
    </ul>
  </ul>
</div>
<hr>
