<div id="portfolio">
  <h3>
    Portfolio
  </h3>
  <div>
    <div class="tile">
      <img src="../../assets/Shiki screenshot.png">
      <p>
          Created a platforming-adventure game in Unity where you play as a ninja and fight various monsters. Available to play 
          <a href="https://mp7maniac.itch.io/shiki" target="_blank">here.</a>
      </p>
    </div>
    <div class="tile">
      <img src="../../assets/snowman.png">
      <p>
          Snowman I created using WebGL as a Graphics project. Moving certain joints causes
          other joints to move in response. Available
          <a href="https://github.com/cwerder/snowman" target="_blank">here.</a>
      </p>
    </div>
    <div class="tile">
      <img src="../../assets/tic-tac-toe.png">
      <p>
          Tic-tac-toe game that uses a mini-max strategy to determine the optimal move. Available
          <a href="https://github.com/cwerder/tic-tac-toe" target="_blank">here.</a>
      </p>
    </div>
  </div>
</div>
