.tile {
    float: left;
    /* border-style: solid;
    border-color: black;
    border-width: 5px; */
    width: 250px;
    text-align: center;
    padding: 5px;
    border: 4px solid gray;
    background-color: lightblue;
    margin: 25px;
    height: 250px;
}

.portfolio-info {
    
}