/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html {
    scroll-behavior: smooth;
}

p {
    text-indent: 1em;
}

h3 {
    font-weight: bold;
}

a {
    text-decoration: underline;
}

a:hover {
   color: green; 
}